<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2010 Denis Solonenko.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Denis Solonenko - initial API and implementation
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.orangesoftware.financisto2"
    android:installLocation="internalOnly">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="ru.orangesoftware.financisto2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ru.orangesoftware.financisto2.permission.C2D_MESSAGE" />

    <application
        android:name="ru.orangesoftware.financisto2.app.FinancistoApp_"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Financisto"
        android:uiOptions="splitActionBarWhenNarrow">
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="ru.orangesoftware.financisto2.activity.AccountWidget"
            android:label="@string/widget_2x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ru.orangesoftware.financisto2.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x1" />
        </receiver>
        <receiver
            android:name="ru.orangesoftware.financisto2.activity.AccountWidget3x1"
            android:label="@string/widget_3x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ru.orangesoftware.financisto2.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_3x1" />
        </receiver>
        <receiver
            android:name="ru.orangesoftware.financisto2.activity.AccountWidget4x1"
            android:label="@string/widget_4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ru.orangesoftware.financisto2.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1" />
        </receiver>

        <receiver android:name="ru.orangesoftware.financisto2.activity.ScheduledAlarmReceiver">
            <intent-filter>
                <action android:name="ru.orangesoftware.financisto2.SCHEDULED_ALARM" />
                <action android:name="ru.orangesoftware.financisto2.SCHEDULED_BACKUP" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="ru.orangesoftware.financisto2.service.FinancistoService_">
            <intent-filter>
                <action android:name="ru.orangesoftware.financisto2.SCHEDULE_ONE" />
                <action android:name="ru.orangesoftware.financisto2.SCHEDULE_ALL" />
                <action android:name="ru.orangesoftware.financisto2.ACTION_SCHEDULE_AUTO_BACKUP" />
                <action android:name="ru.orangesoftware.financisto2.ACTION_AUTO_BACKUP" />
            </intent-filter>
        </service>

        <activity
            android:name="ru.orangesoftware.financisto2.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:taskAffinity=".MainActivity"/>
        <activity
            android:name="ru.orangesoftware.financisto2.activity.MainActivity2_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:taskAffinity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.orangesoftware.financisto2.activity.TransactionActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/transaction"
            android:taskAffinity=".TransactionActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="ru.orangesoftware.financisto2.NEW_TRANSACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.orangesoftware.financisto2.activity.TransferActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/transfer"
            android:taskAffinity=".TransferActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="ru.orangesoftware.financisto2.NEW_TRANSFER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.orangesoftware.financisto2.activity.PinActivity"
            android:label="@string/enter_pin"
            android:launchMode="singleTop" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BlotterActivity"
            android:label="@string/blotter" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.PlannerActivity"
            android:label="@string/planner" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.MassOpActivity"
            android:label="@string/mass_operations" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BudgetBlotterActivity"
            android:label="@string/budget" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.SplitsBlotterActivity"
            android:label="@string/report" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.RecurActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/recur"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.RecurrenceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/recur"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.NotificationOptionsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/notification"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ReportsListActivity"
            android:label="@string/reports" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CurrencyListActivity_"
            android:parentActivityName=".activity.MainActivity2_"
            android:label="@string/currencies" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ExchangeRatesListActivity_"
            android:parentActivityName=".activity.MainActivity2_"
            android:label="@string/exchange_rates" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ExchangeRateActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.MainActivity2_"
            android:label="@string/exchange_rate" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.AccountListActivity"
            android:label="@string/accounts" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CategoryListActivity2_"
            android:parentActivityName=".activity.MainActivity2_"
            android:label="@string/categories" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.AttributeListActivity_"
            android:parentActivityName=".activity.MainActivity2_"
            android:label="@string/attributes" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.AccountActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/account" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/report" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CurrencyActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/currency" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.AttributeActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/attribute"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.DateFilterActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/filter"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BlotterFilterActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/filter"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ReportFilterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/filter"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CategoryActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/category" />
        <activity
            android:name="ru.orangesoftware.financisto2.widget.CalculatorInput"
            android:label="@string/calculator"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BudgetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/budgets" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.PreferencesActivity_"
            android:label="@string/preferences"
            android:parentActivityName=".activity.MainActivity2_"/>
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BudgetListActivity"
            android:label="@string/budgets" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ProjectActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/project"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ProjectListActivity_"
            android:label="@string/projects"
            android:parentActivityName=".activity.MainActivity2_" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.PayeeActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/payee"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.PayeeListActivity_"
            android:label="@string/payees"
            android:parentActivityName=".activity.MainActivity2_" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.TemplatesListActivity"
            android:label="@string/transaction_templates" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ScheduledListActivity"
            android:label="@string/scheduled_transactions" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.SelectTemplateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/transaction_templates"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CsvExportActivity"
            android:label="@string/csv_export" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CsvImportActivity"
            android:label="@string/csv_import" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.QifExportActivity"
            android:label="@string/qif_export" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.QifImportActivity"
            android:label="@string/qif_import" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.MonthlyViewActivity"
            android:label="@string/monthly_view" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CCardStatementClosingDayActivity"
            android:label="@string/closing_day" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.Report2DChartActivity"
            android:label="@string/report" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.ReportPreferencesActivity"
            android:label="@string/report_preferences" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.WebViewActivity"
            android:label="@string/about" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.SplitTransactionActivity_"
            android:label="@string/split_transaction" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.SplitTransferActivity_"
            android:label="@string/split_transfer" />
        <activity
            android:name="ru.orangesoftware.financisto2.dialog.FolderBrowser"
            android:label="@string/select_folder" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.CategorySelectorActivity_"
            android:label="@string/select_category" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.AccountListTotalsDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/totals"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BlotterTotalsDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/totals"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BudgetListTotalsDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/totals"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.PurgeAccountActivity_"
            android:label="@string/delete_old_transactions" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.EntityListActivity_"
            android:label="@string/entities"
            android:parentActivityName=".activity.MainActivity2_" />
        <activity
            android:name="ru.orangesoftware.financisto2.activity.BackupRestoreListActivity_"
            android:label="@string/backup_restore"
            android:parentActivityName=".activity.MainActivity2_" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-INSERT-APP-KEY-HERE" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
